*{margin: 0;padding: 0;}
body{background-color: #000;overflow: hidden;}
.music{position: fixed;top: 0;left: 0;}
.lunbo{position: absolute;top: 200px;left: 100px;}
.img img{width: 400px;border-radius: 20px}
.img{position: absolute;}
.zi{color: #fff;
	font-size: 24px;
    position:absolute;
    top:200px;
    left:550px;
    height: 300px;
    line-height:40px;
    font-family: "微软雅黑";
overflow: hidden;}